<h1>calculadora</h1>
<%= @num1 %>
<%= @num2 %>
<h1>Operações</h1>
<ul>
<li><%= link_to "Soma", sum_path %></li>
<li><%= link_to "Subtração", minus_path %></li>
<li><%= link_to "Multiplicar", multiply_path %></li>
<li><%= link_to "Divisão", division_path %></li>
</ul>
